# API Configuration
VITE_APP_API_URL=http://localhost:4000/api

# Environment (development | staging | production)
VITE_APP_DEPLOY_ENV=development

# Debug Mode (enables error stack traces in UI)
VITE_APP_DEBUG_MODE=false
